body {
    text-align: center;
    background: #fff;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #212121;
    color: white;
}

#navbar {
    background: #0277BD;
    color: white;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 0 1rem black;
}

.floaty {
    background: #0277BD;
    width: 3rem;
    height: 3rem;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    border-radius: 1.5rem;
    text-align: center;
    line-height: 3rem;
    color: white;
    font-size: 2rem;
    transition: 200ms background;
    box-shadow: 0 0 1rem black;
}

#floating-add-button:hover {
    background: #039BE5;
}

#navbar .content {
    display: inline-block;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    font-weight: bold;
}

#addnote_page {
}

#addnote_page table {
    width: 100%;
}

td {
    padding: 10px;
}

input[type=text], textarea {
    background: none;
    border: none;
    border-bottom: 2px solid silver;
    font-family: 'Roboto', sans-serif;
    padding: 6px;
    color: white;
    font-size: 12px;
    width: 100%;
    word-wrap: break-word;
}

textarea {
    min-height: 48px;
}

.page {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    position: relative;
    padding: 2rem 1rem;
}

@media only screen and (max-width: 768px) {
    #floating-add-button {
        bottom: 1rem;
        right: 1rem;
    }

    td {
        display: block;
    }

    input, textarea {
        max-width: 80%;
    }
}